<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New chocolate</title>
</head>
<body>
<form th:method="POST" th:action="@{/chocolate}" th:object="${all_choc}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{choc_name}" id="name"/>
    <br/>
    <label for="price">Enter price: </label>
    <input type="number" th:field="*{price}" id="price"/>
    <br/>
    <label for="quantity">Enter quantity: </label>
    <input type="number" th:field="*{quantity}" id="quantity"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</body>
</html>